table.memberSummary tbody tr:nth-child(even){
    background: #FFFFFF
}

table.memberSummary tbody tr:nth-child(odd){
    background: #EEEEEF
}

table.memberSummary tbody td.colFirst {
    
}

table.memberSummary tbody td.colLast {
    font-size:14px;
    font-family:'DejaVu Serif', Georgia, "Times New Roman", Times, serif;
    padding:4px 3px 5px 10px;
}

div.indent {
	margin-top: 3px;
	margin-right: 0em;
	margin-bottom: 3px;
	margin-left: 2em;
}
div.spaceit {
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
ul.folderList {
	list-style-image: url(openFolderSmall.png);
}
ul.fileList {
	list-style-image: url(file.png);
}
